<div class="container top-bg">
  <div class="d-flex justify-content-center align-items-center min-vh-100 top-text">
    <div>
      <h1>STUTTER CHOICE</h1>
    </div>
    <div class="top-login">
      <div><%= link_to "sign_up", new_user_registration_path %></div>
      <div><%= link_to "login", new_user_session_path %></div>
    </div>
    <%= link_to 'ゲストログイン', homes_guest_sign_in_path, method: :post %>
  </div>
</div>