<div class="container top-bg">
  <div class="d-flex justify-content-center align-items-center min-vh-100 top-text">
    <div>
      <h1>STUTTER CHOICE</h1>
    </div>
    <div class="top-login">
      <div><%= link_to "sign_up", new_user_registration_path, class:"btn btn-secondary" %></div>
      <div><%= link_to "login", new_user_session_path,class:"btn btn-secondary" %></div>
    </div>
    <%= link_to 'guest login', homes_guest_sign_in_path, method: :post,class:"btn btn-secondary guest-login-text" %>
  </div>
</div>