<h1>ユーザー一覧</h1>

<% @users.each do |user| %>


<h5>名前</h5>
<%=link_to user.name,admin_user_path(user) %>

<h5>メールアドレス</h5>
<%= user.email %>

<div><%= link_to "退会する", unsubscribe_admin_user_path(user), method: :patch, "data-confirm" => "本当に退会しますか？" %></div>

<% end %>