<p>いいねした投稿一覧</p>

<% @favorite_posts.each do |favorite_post| %>
    <p><%= favorite_post.title %></p>
    <p><%= favorite_post.text %></p>
    <%= favorite_post.created_at.strftime('%Y/%m/%d') %>

    <% favorite_post.jobs.each do |job| %>
        <span><%= job.job_name %></span>
    <% end %>
    <% end %>